@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #fff;
    color: #222; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* .wrapper{
    width: 1280px;
    margin: 50px auto;
} */
